.standard-height {
    height: 40px;
}

.create-blog-container {
    border-left: 0.5px solid black;
    padding: 0 2rem;
    height: 100%;
}

.create-blog-container h1 {
    text-align: center;
}

.create-blog-form {
    display: flex;
    flex-direction: column;
}

.create-blog-form * {
    border: 1px solid black;
    border-radius: 0.5rem;
    font-size: 16px;
    margin: 0.5rem 0;
    text-indent: 0.5rem;
}

.create-blog-form textarea {
    padding: 0.5rem 0 0 0;
}

.create-blog-form button {
    border: none;
    background-color: #24a0ed;
    color: #FFFFFF;
}

.create-blog-form button:hover {
    background-color: #1d86c7;
    cursor: pointer;
}